body {
  --bg-color: #eee;

  color: #333;
  background-color: var(--bg-color);
}

.worldmap {
  width: 100%;
}

.floatingimage {
  position: absolute;
  font-family: Arial;
  font-weight: bold;
  background-color: #F00;
  border-radius: 100px;
  z-index: 1;
}

.floatingimage .imagecontainer {
  border: 2px solid black;
  background-color: var(--bg-color);
  padding: 5px;
  width: 20vw;
  z-index: 10;
}

.floatingimage.upperHalf .imagecontainer {
  transform: translateX(-50%) translateY(12px);
}

.floatingimage:not(.upperHalf) .imagecontainer {
  transform: translateX(-50%) translateY(-100%);
}

.imagecontainer img {
  width: 100%;
}

.imagecontainer a {
  text-decoration: none;
  color: inherit;
}

.imagecontainer a:hover {
  text-decoration: underline;
}
