<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Project ROM</title>
    <link rel="stylesheet" href="css/master.css">
  </head>
  <body>
    <div id="app" class="worldmapcontainer">
      <div v-for="{ image, classes, style } of imagesAndStyles">
        <span :class="classes"
              :style="style"
              @mouseenter="image.hover = true"
              @mouseleave="image.hover = false"
              @mousemove="worldMapMouseMove">
          <div class="imagecontainer" v-if="image.hover">
            <img :src="'data/screenshots/' + image.thumb" :alt="image.name">
            <a :href="'data/screenshots/' + image.image">{{ image.name }}</a>
          </div>
        </span>
      </div>
      <canvas ref="worldmap"
              class="worldmap"
              @mousemove="worldMapMouseMove"
              @mouseleave="mouseLeave"
              @click="mouseLog"></canvas>
    </div>
    <script src="js/vue.js"></script>
    <script src="js/worldmap.js"></script>
  </body>
</html>
